---
kind: visible
---
<!DOCTYPE html>
<html>
<head>
  <title>Japanese detective novels</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <script src="https://www.w3schools.com/lib/w3.js"></script>
</head>

<script>
  function Accordeon(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
      x.className += " w3-show";
    } else { 
      x.className = x.className.replace(" w3-show", "");
    }
  }
  </script>

<body>

{% include navigation.html %}

<!-- code pour generer les auteurs automatiquement -->
{% assign authors = site.pages | where:"kind", "author" %}

<div class="w3-container w3-center w3-teal">
  <h1>This is a Heading</h1>
  <p>This is a paragraph.</p>
  <p>This is another paragraph.</p>
</div>
<p>
  <button onclick="w3.hide('#romaji')">Hide romaji</button>
  <button onclick="w3.show('#romaji')">Show romaji</button>
  </p>
  
<div class="w3-row"> 
  <div class="w3-container w3-threequarter">

{% for author in authors %}
  <article class="w3-container w3-margin w3-border w3-hover-border-black" id="{{author.nameKj}}">
    <a href="{{author.url}}"><h1>{{author.nameKj}}</h1></a>
    <p>{{author.bio}}</p>
 <!-- information rajoutee a la main   <p>Name: 江戸川乱歩 (えどがわらんぽ)</p>
      <p>Detective: Kogoro Akechi (明智小五郎)</p>
      <p>Edogawa Rampo has created private detective Kogoro Akechi and the Boys Detective Club, a series for children led by young detective Kobayashi.</p> -->  
        <ul>
          {% for page in site.pages %}
          {% if page.kind == 'book' %} 
          {% if page.authorKj == author.nameKj %}
            <li>
              <button onclick="Accordeon('{{page.titleKj}}')" class="w3-button w3-block w3-left-align">
                <b>{{page.titleKj}}</b>,{{page.titleHg}}, {{page.titleTr}}, {{page.year}}
                <div id="romaji" class="w3-container">{{page.titleRj}}</div> 
              </button>     
              <div id="{{page.titleKj}}" class="w3-container w3-hide">
                {% if page.translation and page.translation != '' %} {{page.translation}}, {{page.translator}}, {{page.yeartr}}{% endif %}<br>
                {% if page.prizeKj and page.prizeKj != '' %}{{page.prizeKj}}, {{page.prizeEn}}, {{page.yearPr}}{% endif %}<br>
                {{page.summary}}</br></br>{{page.review}}
              </div>
            
            </li>
              {% endif %}
              {% endif %}
              {% endfor %}
          </ul>
  </article>
{% endfor %}



</div>



<!-- side bar -->
  <div class="w3-container w3-quarter">
    <h2>Authors</h2> 
      <div class="w3-bar-block w3-black">
        {% for author in authors %}
        <a href="#{{author.nameKj}}" class="w3-bar-item w3-button">{{author.nameKj}}</a>
        {% endfor %}
      </div>
  </div>
</div>
</div>
</body>
</html>
