---
kind: visible
---
<!DOCTYPE html>
<html>
<head>
  <title>Japanese detective novels</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2018.css">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2021.css">
  <script src="https://www.w3schools.com/lib/w3.js"></script>
</head>

<script>
  function Accordeon(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
      x.className += " w3-show";
    } else { 
      x.className = x.className.replace(" w3-show", "");
    }
  }
  </script>


<body class="w3-2018-coconut-milk">

{% include navigation.html %}

<!-- code pour generer les auteurs automatiquement -->
{% assign authors = site.pages | where:"kind", "author" | sort:"dates" %}
<!-- Header -->
<header class="w3-container w3-black w3-center w3-padding-32"> 
  <h1><b>Japanese authors of detective fiction</b></h1>
</header>

<p>
  <button onclick="w3.hide('#read')">Hide my notes</button>
  <button onclick="w3.show('#read')">Show my notes</button>
  </p>
  
<div class="w3-row"> 
  <div class="w3-container w3-threequarter">

{% for author in authors %}
  <article class="w3-container w3-margin w3-border w3-hover-border-black" id="{{author.nameKj}}">
    <a href="{{author.url}}"><h1>{{author.nameEn}} ({{author.nameKj}})</h1></a>
    <p>{{author.bio}}</p>
 
        <ul>
          {% assign books = site.pages | where:"kind", "book" | where:"authorKj", author.nameKj | sort: "year" %}
          {% for page in books %}
          
        
            <li>
              <button onclick="Accordeon('{{page.titleKj}}')" class="w3-button w3-block w3-left-align">
            
                <b>{{page.titleKj}}</b>, ({{page.titleHg}}), "{{page.titleTr}}", {{page.year}} {% if page.series and page.series != '' %}<b>, {{page.series}}</b> series {{page.seriesnb}}{% endif %}
                
              </button>
              <div id="{{page.titleKj}}" class="w3-container w3-hide">
                {% if page.translation and page.translation != '' %}English Translation: <i>{{page.translation}}</i>, {{page.translator}}, {{page.yeartr}}{% endif %}
                <br>
                {% if page.prizeKj and page.prizeKj != '' %}Award: {{page.prizeKj}}, {{page.prizeEn}}, {{page.yearPr}}{% endif %}<br>
                Summary: {{page.summary}}<br>
                <div id="read">{% if page.read and page.read == 'oui' %}<br>Review: {{page.rating}}, {{page.review}}{% endif %}</div> 
              </div>
            
            </li>
             
              
              {% endfor %}
          </ul>
  </article>
{% endfor %}



</div>



<!-- side bar -->
  <div class="w3-container w3-quarter">
    <h2>Authors</h2> 
      <div class="w3-bar-block w3-black">
        {% for author in authors %}
        <a href="#{{author.nameKj}}" class="w3-bar-item w3-button w3-hover-deep-orange">{{author.nameKj}}</a>
        {% endfor %}
      </div>
  </div>
</div>
</div>
</body>
</html>
