---
title: index
---
<!DOCTYPE html>
<html>
<head>
  <title>Japanese detective novels</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <ul>
    {% for page in site.pages %}
    {% if page.layout == 'book' %} 
      <li>
        <b><a href="{{page.url}}">{{page.title}}</b></a>, {{page.authorJP}}, {{page.authorEn}}, {{page.year}}          
        <details>
					<summary>Summary</summary>
					<span>{{page.summary}}</span>
				</details>
      </li>
      {% endif %}
      {% endfor %}
  </ul>
<h1>Seishi Yokomizo (横溝 正史) 1902-1981</h1>
<p>Name: 横溝正史 (よこみぞせいし, YOKOMIZO Seishi)</p>
<p>Detective: Kosuke Kindaichi (金田一 耕助, KINDAICHI Kōsuke)</p>
<ul>
  {% for page in site.pages %}
  {% if page.layout == 'book' %} 
  {% if page.authorEn == 'Seishi YOKOMIZO' %}
    <li>
      <b><a href="{{page.url}}">{{page.title}}</b></a>, {{page.authorJP}}, {{page.authorEn}}, {{page.year}}          
      <details>
        <summary>Summary</summary>
        <span>{{page.summary}}</span>
      </details>
    </li>
    {% endif %}
    {% endif %}
    {% endfor %}
</ul>
</body>
</html>
